.tblog{
    margin-top: 20px;
    text-align: center;
}

.pblog{
    margin-top: 10px;
    text-align: center;
}

.pop{
    margin-top: 25px;
    margin-left: 20px;
}

.imblog{
    margin-top: 15px;
   
}

.im{
    width: 100%;
    height: 350px;
}

.toutb{
    margin-top: 25px;
}


.truc{
    margin-top: -13px;
  
}