.momo{
    text-align: center;
    margin-top: 30px;
}

.con{
    box-shadow:rgba(117, 116, 116, 0.726) 5px 5px 50px  ;
   
}

iframe{
    filter: invert( 100% );
}

.conn{
    margin-left: 50px;
    margin-right: 30px;
}

