.imap1{
    height: 380px;
}

.tp1{
    margin-top: 15px;
}

.p11{
    margin-top: 20px;
    margin-left: 30px;
}

.p1{
    margin-top: 40px;
    margin-left: 15px;
}

.desc{
    margin-top: 15px;
   
}

.panier a {
    text-decoration: none;
     color:white;
}