/*

*{
    margin: 0;
    padding: 0;
    list-style: none;
}


.ol{
    text-decoration: none;
}

.logo{
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

.navbar {
 
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    color: white;
    align-items: center;
    background-color: rgb(218, 215, 210);
}

.nav-links ul {
    display: flex;
}

.nav-links ul li {
    margin: 0 25px;    
}


.nav-links ul li .active{
    color: blue;
    font-weight: 80px;
    text-decoration: none;
}

.navbar a {
    color: black;
}

@media screen and (max-width: 900px) {
 
}



*/





li{
    list-style: none;
}