





/*  header */




.hea{
    margin-top: -10px;
}

.image1{
    background-image: url("C:/wamp64/www/gesPatisserie/images/gateau au miel/depositphotos_35666961-stock-photo-honey-cake");
    background-repeat : no-repeat;
    height: 620px;
    background-size: 1400px;
}


.msg{
    font-size: 50px;
    color: white;
    padding-left: 30px;
    padding-top: 110px;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

.msg1{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
}



/*  body */


.msgp{
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: black;
    text-align: center;
    padding-top: 40px;
}


.msgp1{
    font-family: 'Lobster', cursive;
    font-size: 17px;
    text-align: center;

}


/*  body L3*/

.imal3{
    height: 250px;
                 
}

.l3{

    margin-left: 40px;
    margin-right: 50px;
    margin-top: 15px;
    box-shadow:rgba(117, 116, 116, 0.726) 5px 5px 50px  ;
}

.titre{
    font-size: 20px;
    font-family: cursive;
}



/*  body L2*/
.imal2{
    height: 300px;
}

.l2{
    margin-top: 50px;
    margin-left: 55px;
    margin-right: 50px;
    box-shadow:rgba(117, 116, 116, 0.726) 5px 5px 50px  ;
}


/*  body L1*/

.promo{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    color: black;
}

.reel{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    color: rgb(48, 47, 47);
    text-decoration: line-through;
   
}


.panier{
    background-color: rgb(33, 32, 32);
    border-color:  rgb(33, 32, 32);
    width: 150px;
    height: 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}


/*  body L4*/

.imal4{
    height: 450px;
    width: 800px;
}

.lou{
 height: 217px;
    width: 300px;
    margin-left: 210px;
    margin-top: 1opx;
    margin-bottom: 15px;
}

.co{
    margin-right: 90px;
}

/*  body L5*/

.ima{
    margin-left: 140px;
    margin-top: 40px;
    
}

.olo{
    text-align: center;
}

.titre2{
    text-align: center;
}

.txt{
    text-align: center;
}

.panier1{
    background-color: rgb(33, 32, 32);
    border-color:  rgb(33, 32, 32);
    width: 150px;
    height: 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-left: 80px;
}



.l5{
    margin-top: 40px;
    margin-left: 70px;
    margin-right: 15px;
    box-shadow:rgba(117, 116, 116, 0.726) 5px 5px 50px  ;
}





/*  body L6*/

.l6{
    
    margin-left: 60px;
    margin-top: 25px;
    box-shadow:rgba(117, 116, 116, 0.726) 5px 5px 50px  ;
}

.l6p{
    
    margin-left: 30px;
    margin-right: 50px;
   
}

.l66{
    
    margin-left: -20px;
    margin-top: 65px;
    box-shadow:rgba(117, 116, 116, 0.726) 5px 5px 50px  ;
}

.l6pp{
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 50px;
   
}

.titrel6{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


.imal6{
    
    height: 330px;
            
}








/*footer*/


.foot{
    background-color: black;
    margin-top: 30px;
   
}

.sefoot{
    margin-left: 80px;
    color: white;
}

.sefoots{
    margin-left: 90px;
    color: white;
}



.log{
    width: 20px;
}

.copyr{
    text-align: center;
    color: rgb(255, 255, 13);
}


.liste{
    text-decoration: none;
    list-style: none;
}





